<%- include('partials/header') -%>

<div class="main">
  <h1>Hello</h1>
  <p><%= homeStartingContentEJS %></p>
  <% postsEJS.forEach(el => { %>
  <h2>
    <%= `${el.title[0].toUpperCase()}${el.title.slice(1,el.title.length)}` %>
  </h2>

  <% if (el.postContent.length>20) { %>
  <p>
    <%=el.content.slice(0,340) %>
    <a href="/posts/<%=el.title%>">...more</a>
  </p>

  <% } else { %>
  <p><%= el.postContent %></p>
  <% } %> <% }) %>
</div>
<%- include('partials/footer') -%>
