<%- include('partials/header') -%>

<div class="main">
  <h1>Hello</h1>
  <p><%= homeStartingContentEJS %></p>
  <form action="/" method="post">
  <div class="container" >
    <% postsEJS.forEach(el => { %>

    <div class="col-md-10">
      <h2 class="h2-title">
        <%= `${el.title[0].toUpperCase()}${el.title.slice(1,el.title.length)}`
        %>
      </h2>
      <% if (el.postContent.length>20) { %>
        <p>
          <%=el.postContent.slice(0,340) %>
          <a href="/<%=el.title%>">...more</a>
        </p>
    </div>
    <div class="col-md-1 redact">
      <button class="btn btn-secondary" type="submit" name="deleteBtn" value="<%=el.title%>">Delete post</button>
    </div>
    <% } else { %>
      <p><%= el.postContent %></p>
    </div>
    <div class="col-md-1 redact">
      <button class="btn btn-secondary " type="submit" name="deleteBtn" value="<%=el.title%>">Delete post</button>
    </div>
      <% } %> <% }) %>
  </div>
</form>
  
  

  
</div>

<%- include('partials/footer') -%>
